<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Joke Generator</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
    
  <div class="container">
    <h1>Random Joke Generator 😅</h1>
    
    
    <div class="joke-box">
      <p><%= joke %></p>
    </div>
    
    <form action="/" method="get">
      <button type="submit">Another Joke 🤣</button>
    </form>
  </div>
</body>
</html>
